# Salesforce Playwright TypeScript Automation

# Dependencies
node_modules/

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# TypeScript
dist/

# Reports
reports/

# Environment
.env
config/*.env

# Salesforce API collections
SalesforceAPI/Salesforce/environments/*

# OS
.DS_Store

# IDE
.vscode/
.idea/
